.car-model {
    position: relative;
}
.car-model-inner {
    width: 100%;
    margin: auto;
    display: block;
    opacity: 0.5;
    filter: grayscale();
}

@media (min-width: 570px) {
    .car-model {
        width: 65%;
        left: 17.5%
    }
}

.car-model {
    position: relative;
}

.economy-price *:not(.slider, .slider:before) {
    position: relative;
    /* z-index: 500 !important; */
}

.car-model .seats {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.car-model .seat {
    overflow: hidden;
    position: absolute;
    width: 20%;
    height: 150px;
}
.car-model .seats img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0
}
.car-model .frontseat {
    top: 35%;
    right: 25%;
}
.car-model .backseat-right {
    top: 60%;
    right: 25%;
}
.car-model .backseat-left {
    top: 60%;
    left: 25%;
}



.car-model .seats .tick-en, .car-model .seats .tick-dis {
    width: 50%;
}

#car_load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .5;
    z-index: 200;
    display: block;
}

/* #tick_total, #tick_total:focus {
    border: none;
    cursor: default;
    background: #5cb85c;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 3px
}

#tick_total:hover {
    background: #5cb85c;
    border: none
} */

.seat-check {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -10px;
    left: -5px;
    z-index: 22;
    opacity: 0;
    cursor: pointer;
}
.seat.checked > .tick-en {
    z-index: 20
}
