html , body{
    max-width: 100vw;
    overflow-x: hidden;
}
.header-register, .header-register:hover {
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}
h3 {
    text-align: right;
}
/* .mobile-header-register {
    padding-right: 0 !important;
} */
.main-showcase {
    position: relative;
    top: 0;
    z-index: 0;
    margin-top: -60px;
    width: 100%;
    min-height: calc(100vh - 143px) !important;
    background: #fba829;
}
.main-title {
    margin: auto;
    margin-top: 15vh;
    max-width: 430px;
    position: relative;
}
.main-logo {
    text-align: left;
    width: 100%;
    display: inline;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0%;
}
.title-pipe {
    font-size: 55px;
    margin-bottom: -20px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.inner-title {
    width: 40%;
    font-size: 50px;
    float: right;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    right: 0%;
}
.main-showcase > img {
    width: 100vw;
    height: 100vh;
    min-height: 788px;
    object-fit: cover;
    position: absolute;
    top: 0;
    /* filter: blur(2px) brightness(.5); */

}

.main-showcase div.main-title {
    /* padding-top: calc(40vh - 20px) */
}

.description {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.main-showcase {
    position: relative;
    top: 0;
    z-index: 0;
    margin-top: -60px;
    width: 100%;
    min-height: calc(100vh - 143px) !important;
    background: #fba829;
}
.main-logo {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20vh;
}
.main-showcase > img {
    width: 100vw;
    height: 100vh;
    min-height: 788px;
    object-fit: cover;
    position: absolute;
    top: 0;
    /* filter: blur(2px) brightness(.5); */

}

.main-showcase div.main-title {
    /* padding-top: calc(40vh - 20px) */
}

.description {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
@media (max-width: 760px) {
    .main-showcase div.main-title {
        /* padding-top: calc(20vh) */
    }
    .to-city {
        margin-top: 10px
    }
}
.main-showcase {
    color: white;
}

.main-form .btn-success {
    width: 200px;
    margin-bottom: 50px
}

    text-align: center;
}
@media (max-width: 760px) {
    .main-showcase div.main-title {
        /* padding-top: calc(20vh) */
    }
    .to-city {
        margin-top: 10px
    }
}
.main-showcase {
    color: white;
}

.main-form .btn-success {
    width: 200px;
    margin-bottom: 50px
}
.home-order {
    background: white;
    color: #fba829;
    border-radius: 5px;
    border: none;
    margin-top: 40px !important;
    font-size: 16px;
    font-weight: bold;
    width: 140px !important
}
.home-order:hover {
    background: transparent;
    color: white;
    border-radius: 5px;
    border: white 2px solid;
}
.services * {
    color: #222;
}

.services img {
    width: 50%;
    margin: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.partners img {
    width: 65%;
    margin: 17.5%;
}

@media (max-width: 480px) {
    .partners img {
        width: 100%;
        margin: 0;
    }
}

.account-info-drop * {
    color: white !important
}


.eco-info-button {
    display: none;
}
.eco-info * {
    color: #222;
    text-align: right;
}
.eco-info-close {
    display: none;
}

.private-info {
    text-align: right;
}

.eco-info, .private-info {
    font-size: 17px;
}

.private-info-button {
    display: none;
}
.private-info-close {
    display: none;
}

.card {
    background-color: #fba829;
    border: none;
    border-radius: 3px;
    transition: background-color .2s;
}

.card:hover {
    background-color: #FFF;
    transition: background-color .2s;
}

.card a:hover {
    transition: color .2s

}
.card a:hover {
    color: #fba829;
    transition: color .2s
}

.card a {
    text-decoration: none;
    color: #FFF
}
.card-text-color {
    color: #FFF;
    text-align: center;
    border: 1px solid white;
    margin-bottom: 10px !important;
}

.card-text-color div {
    padding: 30px;
    text-align: right !important;
}

.c-icon {
    font-size: 34px;
    float: left;
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
    min-width: 65px;
    min-height: 65px;
    color: #fba829;
    transition: 'color, background' .2s;
}
.c-icon:hover {
  background: #fba829;
  color: #FFF;
  transition: all .2s;
}
.c-text {
    padding-right: 50px;
}
.card-body h5 {
    font-weight: bold;
    margin-right: 12%;
}
.card-body p {
    max-width: 88%;
    float: left;
}
.fa-money-bill-wave:before {
    content: "\f53a";
    position: absolute;
    right: 11px;
    top: 15px;
}
.fa-dollar-sign:before {
    content: "\f155";
    position: absolute;
    right: 22px;
    top: 15px;
}
.fa-city:before {
    content: "\f64f";
    position: absolute;
    right: 10px;
    top: 15px;
}
.fa-home:before {
    content: "\f015";
    position: absolute;
    right: 13px;
    top: 15px;
}
.main {

}
