/* start tabs  */

.nav-tabs li {
    width: 50%;
    display: inline-block;
}

.nav-tabs li a {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 17px;
}
.nav-tabs li a:hover {
    text-decoration: none;
}

.nav-tabs .active {
    border-bottom: 2px #fba829 solid;
}
/* end tabs  */

/* start triplist */
.trip-list {
    list-style: none;
    padding-bottom: 20px;
    border-radius: 3px;
    padding: 10px;
    text-align: right;
}
.trip-list li {
    position: relative;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    height: 80px;
    width: 100%;
    transition: 200ms linear all;
}
.full-info {
    height: 80vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
.trip-list .row {
    width: 100%;
}
.trip-list li:hover {
    background: #fafafa;
    transition: 200ms linear all;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.trip-list .from, .trip-list .to {
    font-weight: bold;
    font-size: 16px
}
.trip-list .time, .trip-list .date, .trip-seats , .captain {
    color: #777
}
.seat-icon {
    height: 15px;
}
.full-info-inner {
    position: absolute;
    top: 100px;
    width: 100% !important;
    height: 0;
    overflow: hidden;
    transition: 200ms linear all;
}

.nav-tabs {
    padding: 0;
}

@media (max-width: 1250px) {
    .full-info-inner {
        top: 200px !important;
    }

}
@media (max-width: 480px) {
    .full-info-inner {
        top: 150px !important;
    }

}
/* end triplist */


/* start account settings  */
img.official-doc {
    width: 90%;
    object-fit: cover;
    max-height: 380px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
}
@media (max-width: 720px) {
    img.official-doc {
        max-height: 200px;
    }
}
.official-docs-toggle {
    cursor: pointer;
    transition: 200ms ease-in-out all;
}
.official-docs-wrapper {
    height: 48px;
    overflow: hidden;
    transition: 200ms ease-in-out all;
}
.official-docs-wrapper.toggled-on {
    height: 500px;
    transition: 200ms ease-in-out all;
}
/* end account settings  */
