
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap';
@import '../../../node_modules/font-awesome/css/font-awesome.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
@import "custom.scss";
