html, body {
    overflow-x: hidden;
}
.bg-dark  {
    background-color: #fafafa !important;
}

.bg-dark * {
    z-index: 2;
    color: #fafafa !important;
}

.header-login-btn {
    background: transparent;
    border: none;
    outline: none;
}
.header-login-btn:hover {
    color: black;
    background: transparent
}

.scroll-bottom {
    background: #fafafa !important;
    color: #222 !important;
}

.scroll-bottom * {
    background: #fafafa;
    color: #222 !important;
}


:not(i) {
    font-family: "Cairo" !important;
}

@media (max-width: 720px) {
    .form-inline .form-control {
        margin-bottom: 10px;
    }
}
.navbar-toggler:not(:disabled):not(.disabled) {
    color: #fafafa !important;
    transition: 300ms linear all;
}

.bg-dark, .bg-light, .navbar-dark, .navbar-light {
    transition: 200ms linear all;
}

.navbar-light, .bg-light {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bg-light {
    background: white !important;
}

.btn-primary, .btn-primary:hover {
    color: #fafafa;
}

.full-width {
    width: 100% !important
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    z-index: 200;
    display: none;
}

#loader img {
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
    width: 100px;
    height: 100px;

}

.account-info-drop * {
    color: #444 !important;
}
.profile-picture.header-pic {
    width: 85px;
    height: 85px;
}
.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-info {
    list-style: none;
    display: inline;
}
.contact-info {
    display: inline-block;
    float: none !important;
    padding: 0 !important
}
.contact-info li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.contact-info li i {
    font-size: 25px;
}
.error {
    color: red;
    font-weight: bold;
}
::placeholder {
    color: #d8d8d8 !important
}

@media (min-width: 768px) {
    .offset-md-4 {
        margin-right: 33.33333333%;
    }
}

@media (min-width: 990px) {
    .desktop-header {
        display: flex !important;
    }
    .mobile-header {
        display: none !important;
    }
}

@media (max-width: 990px) {
    .desktop-header {
        display: none !important;
    }
    .mobile-header {
        display: flex !important;
    }
}

.eco-time, .eco-time * {
    text-align: right;
}
.region-address select {
    width: 40% !important;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.region-address input {
    width: 60% !important;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.private-date .form-control {
    width: 90%;
}

.picker__button--today, .picker__button--clear
{
    display: none !important;
}

// start goingAndComingback radios
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-right: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #eb8f04;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
// end goingAndComingback radios

.request-cost {
    width: 100%;
}
.container {
    position: relative;
    margin-top: 0;
}
@media only screen and (max-width: 480px) {
    .container {
        margin-top: 25px !important;
    }
}


.sh-ref-code-popup {
    background: white;
    position: absolute;
    bottom: -100vh;
    width: 100%;
    z-index: 100;

    ul {
        padding: 10px;
        margin-top: 10px;
        list-style: none;
        li {
            text-align: center;
            width: 50%;
            margin: 15px 10px;
            width: 100%;
            a {
                color: #444;
                width: 100%;
                font-size: 20px;
                text-align: left;
                img {
                    text-align: left;
                }
                display: block;
            }
        }
    }
    img {
        margin: 0 5px 10px 0 ;
        width: 25px;
    }
}
.reserve-for-others {
    width: 100%;
    button {
        width: calc(50% - 15px);
        float: left;
        box-sizing: border-box;
        background: white;
        color: #222;
        border-top: 2px orange solid;
        border-bottom: 2px orange solid;
        font-size: 14px;
    }
    button.active {
        background: orange;
        color: white;
    }

    button:nth-child(1) {
        margin: 10px 0 10px 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-left: 2px orange solid;
    }
    button:nth-child(2) {
        margin: 10px 15px 10px 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-right: 2px orange solid;
    }
}

.other-person-info input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.wallet-nav {
    color: #444;
}
.wallet-nav .balance-nav {
    background: #5cb85c;
    color: white !important;
    border-radius: 20px;
    padding: 3px 8px;
    margin-right: 10px;
    font-weight: bold;
}


// start toggle button
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #fba228;
}

input:focus + .slider {
    box-shadow: 0 0 1px #fba228;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

// end toggle button
@media (min-width: 1000px) {
    .revealed-invite-link {
        display: none;
    }
}
.revealed-invite-link {
    list-style: none;
    margin-right: -80px;
}
.opacity-0 {
    opacity: 0;
}
.floating-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.request-cost, .request-cost:focus {
    border: none;
    cursor: default;
    background: #5cb85c;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}

.request-cost:hover {
    background: #5cb85c;
    border: none
}
